/* Common styles */
.image-container {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  animation: roll 4s infinite linear;
  margin-top: 10px;
  margin-right: 35%;
}

#searchResult {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#backButton {
  background-color: #765827; 
  border: none;
  margin-left: 37%;
  color: white;
  padding: 7px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 8px;
  position: relative;
}

#searchResults a {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: rgb(188, 37, 37);
  background-color: beige;
}

#searchResults li {
  width: 300px; 
  margin-left: 37%;
  padding: 10px;
  border: 1px solid #000000;
  transition: transform 0.3s;
  color: #ffffff;
  margin-bottom: 10px; 
  background-color: beige;
  border-radius: 14px;
}

#searchResults li:hover {
  transform: scale(1.05);
}

#biblioGrid {
  width: 30%;
  margin-left: 37%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 2px;
  border: 2px solid #000000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Times New Roman', Times, serif;
  color: rgb(5, 5, 5);
  font-weight: 900;
  background-color: beige;
  border-radius: 14px;
}

#biblioGrid div {
  padding: 2px;
}

/* Center the search input and button */
#homePage {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Adjust the distance from the top */
.search-container {
  position: absolute; 
  padding: 2%;
  top: 13px; 
  right: 20px;   
}

.search-input {
  padding: 10px; 
  border-radius: 5px; 
  border: 1px solid #ccc; 
}

.search-btn {
  background-color: #C38154;
  color: #fff; 
  border: none; 
  padding: 10px; 
  border-radius: 5px; 
  cursor: pointer; 
}

#definition-box {
  margin-bottom: 20px; 
  background-color: #f0f0f0;
}

#resultsPage {
  display: none; 
  background-color: none; 
}

#bibliographic-data {
  margin-top: 20px; 
  background-color: #f0f0f0;   
}

/* Media Queries */
@media only screen and (max-width: 1200px) {
  /* Adjustments for large laptops and desktops */
  .image-container {
    margin-right: 10%;
  }

  #backButton {
    margin-left: 10%;
  }

  #searchResults li,
  #biblioGrid {
    margin-left: 10%;
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  /* Adjustments for landscape tablets */
  #searchResults li,
  #biblioGrid {
    width: 100%;
    margin-left: 0;
  }

  #backButton {
    margin-left: 10%;
  }
}

@media only screen and (max-width: 600px) {
  /* Adjustments for small devices (e.g., portrait tablets and large phones) */
  #searchResults li,
  #biblioGrid {
    width: 100%;
    margin-left: 0;
  }

  #backButton {
    margin-left: 10%;
  }
}
